html,
body {
  height: 100%;
}
#draggable__items--container {
    margin-bottom: 5px;
  
}
.items__container {
    display: inline-block;
    border: 1px solid #ffe309;
    width: 100%;
    text-align: center;
}
.items__container ul {
padding: 0 40px;
text-align: center;
}
.items__container ul li {
    list-style: none;
    display: inline-block;
    margin: 0 4%;
    font-size: 15px;
}
.items__container ul li > * {
    margin: 0;
}
#drop__container, #drop__container--second
{
    border: 1px solid black;
    min-height: calc(70% - 170px);
    width: 100%;
    margin-bottom: 5px;
}
